extends ./layout.pug

block content
  section.site-hero.overlay
    div.background-color-overlay
      div.container
        div.row.align-items-center.site-hero-inner.justify-content-center
          div.col-md-8.text-center
            div.mb-1.mb-md-5
              h1
                img.swift-logo(src="./images/swift-to-logo.png")
                span.title=title
              div.header-info
                span.mb-4.conference-description=description
                span.mb-3.conference-date=date
                a.mb-4.conference-venue(href=venueUrl, target="_blank") @ #{venueName}

  section.mb-5#policy
    div.container
      h3.text.mt-5.mb-4 Diversity and Inclusion
      div.row.mb-3
          div.col-lg-12.mb-2

            p Swift TO is committed to reflecting the culture of diversity and inclusion that&nbsp;
              | makes Toronto great. We actively encourage individuals from&nbsp;
              | underrepresented groups to submit talk proposals.

            p We stand by our code of conduct and will make sure that all organizers and volunteers&nbsp;
              | are sent a copy of it prior to the event.

            p We are constantly learning and improving our process. We are open and receptive&nbsp;
              | to feedback and suggestions.
  hr

  section.mb-5#support
    div.container
      h3.text.mt-5.mb-4 Diversity Support Scholarships
      div.row
          div.col-lg-12.mb-2
            p To make sure that Swift TO is an inclusive space for all individuals we have a Diversity Support Scholarship Program.&nbsp;
              | We reserve a portion of all ticket and sponsorship sales to help make scholarship tickets available.&nbsp;
              | On 
              strong July 15th 2019
              | , 1 month before the event, we will raffle the tickets and notify all scholarship applicants.

            p If you would like to apply, email us at 
              a(target='_blank', href='mailto:' + email)
                  span=email
              | &nbsp;we will add your name to our raffle pool.

      h5.text.mt-1.mb-4 Eligibility
      div.row.mb-3
        ul
          li You are one or more of the following:
            ul
              li A full or part-time student
              li A member or alumni of a STEM organization such as but not limited to: Free Code Camp, Ladies Learning Code, Dames Making Games, Bridge School, NPower Canada
              li A woman, minority, single parent, LGBTQIA, or disabled individual participating in your local iOS / Mac meetup groups, or employed working on an iOS product.
          li You have a true financial need for this scholarship, and wouldn't be able to attend otherwise.
          li You're able to pay for your travel and accommodations.
  hr

  include includes/code-of-conduct.pug