extends ./layout.pug

block content
  section.site-hero.overlay
    div.background-color-overlay
      div.container
        div.row.align-items-center.site-hero-inner.justify-content-center
          div.col-md-8.text-center
            div.mb-1.mb-md-5
              h1
                img.swift-logo(src="./images/swift-to-logo.png")
                span.big-ampersand &amp;&nbsp;
                img.speaker(src="/images/paul-hudson.jpg")
                span.title=title
              div.header-info
                span.mb-4.conference-description=description
                span.mb-3.conference-date=date
                a.mb-4.conference-venue(href=venueUrl, target="_blank") #{venueName}
                
  section.mb-5#summary
    div.container
      h3.text.mt-5.mb-5 What to Expect
      div.row.mb-3
        each expectation in expectations
          div.col-lg-4.mb-2
            h4.mb-3 !{expectation.title}
            p !{expectation.description}

  hr

  section.mb-5#tickets
    div.container
      h3.text.mt-5.mb-4 Tickets
    div.container#eventbrite-iframe
      iframe(allowtransparency='true', frameborder='0', height='500',hspace='0',marginheight='5',marginwidth='5',scrolling='auto',src='//eventbrite.com/tickets-external?eid=105830255142&amp;ref=etckt',vspace='0',width='100%',kwframeid='1')

  hr

  section.mb-5#sponsors
    div.container
      h3.text.mt-5.mb-4 Sponsorship
      p Interested in sponsorship?&nbsp;
      a(href="/sponsorship.html", target="blank") Learn more here

  hr

  include includes/refunds-and-contingency.pug

  hr
  
  include includes/code-of-conduct.pug

  hr
  
  section.mb-5#organizers
    div.container
      h3.text.mt-5.mb-4 Organizers
      div.col-lg-12.mb-3.row
        p Swift TO is brought to you by the organizers of&nbsp;
          a(href="https://www.meetup.com/NSCoderTO/") NSCoderTO
          |, a macOS and iOS user group based in Toronto
      div.row.profiles-section
        div.col-md-3.mb-2
          img.mb-3(src="./images/organizer-kyle.jpg")
          h5 Kyle Newsome
          a(target='_blank', href='https://twitter.com/kylnew')
            span.fa.fa-twitter
            | &nbsp;
            span kylnew
        div.col-md-3.mb-2
          img.mb-3(src="./images/organizer-brendan.jpg")
          h5 Brendan Miller
          a(target='_blank', href='https://twitter.com/brendancmiller')
            span.fa.fa-twitter
            | &nbsp;
            span brendancmiller
        div.col-md-3.mb-2
          img.mb-3(src="./images/organizer-bill.jpg")
          h5 Bill Parousis
          a(target='_blank', href='https://twitter.com/bparousis')
            span.fa.fa-twitter
            | &nbsp;
            span bparousis
        div.col-md-3.mb-2
          img.mb-3(src="./images/organizer-margaret.jpg")
          h5 Margaryta Chepiga
          a(target='_blank', href='https://twitter.com/MargoChepiga')
            span.fa.fa-twitter
            | &nbsp;
            span MargoChepiga

  hr

  section.mb-5#sign-up
    div.container
      h3.conference-sign-up.mt-5.mb-2 Sign-up for the latest updates
      include mailchimpForm.pug