extends ./layout.pug

block content
  section.site-hero.overlay
    div.background-color-overlay
      div.container
        div.row.align-items-center.site-hero-inner.justify-content-center
          div.col-md-8.text-center
            div.mb-1.mb-md-5
              h1
                img.swift-logo(src="./images/swift-to-logo.png")
                span.title=title
              div.header-info
                span.mb-4.conference-description=description
                span.mb-3.conference-date=date
                a.mb-4.conference-venue(href=venueUrl, target="_blank") @ #{venueName}

  section.mb-5#summary
    div.container
      h3.text.mt-5.mb-5 What to Expect
      div.row.mb-3
        each expectation in expectations
          div.col-lg-4.mb-2
            h4.mb-3=expectation.title
            p=expectation.description
  hr

  - if(speakers.length > 0)
    section.mb-5#speakers
      div.container
        h3.text.mt-5.mb-4 Speakers
        div.row.profiles-section
          each speaker in speakers
              div.col-md-3.mb-3
                img.mb-3(src="./images/" + speaker.slug + ".jpg")
                h5=speaker.name
                - if (typeof(speaker.twitter) !== 'undefined'){
                  a(target="_blank", href="https://twitter.com/" + speaker.twitter)
                    span.fa.fa-twitter
                    | &nbsp;
                    span=speaker.twitter
                - }
    hr

  section.mb-5#sign-up
    div.container
      h3.conference-sign-up.mt-5.mb-2 Sign-up for the latest updates
      include mailchimpForm.pug
  hr

  section.mb-5#tickets
    div.container
      h3.text.mt-5.mb-4 Tickets will go on sale in March
      p Prices include all taxes and fees
      ul 
        li Super Early Bird - $150 CAD (limited supply)
        li Early Bird - $205 CAD (limited supply)
        li General Admission - $295 CAD
        li Individual Sponsor - $500 CAD
      p 
        em Individual Sponsor ticket buyers will receive a distinctive lanyard plus access to the upper balcony seating area. You will also be contacted to provide your name, photo and a url for this website
  hr

  section.mb-5#talk-proposals
    div.container
      h3.text.mt-5.mb-4 Submit your talk proposals
      div.row.mb-3
          div.col-lg-12.mb-2
            p We are now seeking speakers for the conference. All talks will be recorded and distributed online.
            p Talks should be 20-25 minutes in length. We will also consider shorter lightning talks, however, they will not qualify for travel assistance.
              | &nbsp;Speakers will be announced over time to allow for later submissions and help us to ensure a packed schedule of great content.
              | &nbsp;Talk proposals will be accepted until June 28th and all speakers will be notified by July 13th
            p 
              a(href=rfpUrl, target="_blank") Send us your talk proposals here
  hr

  section.m5-5#location
    .container
      h3.text.mt-5.mb-5 Location
      div.row
        div.col-md-3.mb-2.map-container
          a(target="_blank", href=venueUrl)
            img.map(src="/images/TIFF-Bell-Lightbox_2018_TIFF-Bell-Lightbox-Cinema-1---front_-credit-Sam-Santos.jpg")
        div.col-md-9
          p 
            strong Swift TO 2020 will be held at TIFF Bell Lightbox
          p Host of the world renowned Toronto International Film Festival, this venue is first-class in its support capabilities for our conference and offers an unparalleled seating experience
  hr

  section.mb-5#sponsors
    div.container
      h3.text.mt-5.mb-4 Sponsorship
      p Interested in sponsorship?&nbsp;
      a(href="/sponsorship.html", target="blank") Learn more here
  //-     div.col-lg-12.mb-5.silver
  //-       a(href="https://www.telus.com", target="blank")
  //-         img.sponsor(src="./images/Logo_TELUS.svg")
  //-       a(href="https://www.scotiabank.com", target="blank")
  //-         img.sponsor(src="./images/logo-scotia.svg")
  //-     h4.text.mt-5.mb-5 Bronze Sponsors
  //-     div.col-lg-12.mb-2.bronze
  //-       a(href="https://www.oanda.com", target="blank")
  //-         img.sponsor(src="./images/Logo_OANDA.jpg")
  //-       a(href="https://www.touchbistro.com", target="blank")
  //-         img.sponsor(src="./images/logo-touch-bistro.png")
  //-       a(href="https://www.bitrise.io", target="blank")
  //-         img.sponsor(src="./images/logo-bitrise.svg")
  //-       a(href="https://www.marketcircle.com", target="blank")
  //-         img.sponsor(src="./images/logo-marketcircle.svg")
  //- hr

  section.mb-5#organizers
    div.container
      h3.text.mt-5.mb-4 Organizers
      div.col-lg-12.mb-3.row
        p Swift TO is brought to you by the organizers of&nbsp;
          a(href="https://www.meetup.com/NSCoderTO/") NSCoderTO
          |, a macOS and iOS user group based in Toronto
      div.row.profiles-section
        div.col-md-3.mb-2
          img.mb-3(src="./images/organizer-kyle.jpg")
          h5 Kyle Newsome
          a(target='_blank', href='https://twitter.com/kylnew')
            span.fa.fa-twitter
            | &nbsp;
            span kylnew
        div.col-md-3.mb-2
          img.mb-3(src="./images/organizer-brendan.jpg")
          h5 Brendan Miller
          a(target='_blank', href='https://twitter.com/brendancmiller')
            span.fa.fa-twitter
            | &nbsp;
            span brendancmiller
        div.col-md-3.mb-2
          img.mb-3(src="./images/organizer-bill.jpg")
          h5 Bill Parousis
          a(target='_blank', href='https://twitter.com/bparousis')
            span.fa.fa-twitter
            | &nbsp;
            span bparousis
        div.col-md-3.mb-2
          img.mb-3(src="./images/organizer-margaret.jpg")
          h5 Margaryta Chepigas
          a(target='_blank', href='https://twitter.com/MargoChepiga')
            span.fa.fa-twitter
            | &nbsp;
            span MargoChepiga

  hr
  
  include includes/code-of-conduct.pug
  