- var title = "Swift TO";
- var description = "A conference celebrating Swift in Downtown Toronto";
- var date = "Tues, August 13th, 2019"
- var venueName = "TELUS Harbour"
- var venueUrl = "https://www.google.com/maps/place/Telus+Tower,+25+York+St,+Toronto,+ON+M5J+2V5,+Canada/@43.6434855,-79.3831493,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34d4ba18f455:0x39c2a7b0c3eaee6a!8m2!3d43.6434855!4d-79.3809606"
- var rfpUrl = "https://www.papercall.io/swift-to" 

- var keywords = ["conference", "swift", "ios", "macos", "watchos", "linux", "server-side", "apple"].join(",")

- var twitter1 = "SwiftConfTO"
- var twitter2 = "NSCoderTO"
- var email = "hello@swiftconf.to"
- var companyName = "NSCoderTO and Swift TO Inc., a non-profit corporation"

// Expectations
- var expectation1 = {title: "Great Talks", description: "A day filled with talks about all things Swift programming. Beyond just iOS and Mac development, this conference is about celebrating the language and its many uses."};
- var expectation2 = {title: "Networking", description: "Meet other passionate developers programming with Swift in your community. An after-conference event will be organized to celebrate and network."};
- var expectation3 = {title: "Knowledge you can share", description: "All content at Swift TO will be recorded and distributed online so anything you learn can easily be shared with your broader team after the event."};
- var expectation4 = {title: "Quality", description: "We're here to celebrate the great passion and talent for Swift development in this city. SwiftTO wants to showcase great work and ideas from in and around our community."};
- var expectation5 = {title: "Convenience", description: "Travelling for conferences may not fit all schedules. SwiftTO is a jam-packed day of content close to home."};
- var expectation6 = {title: "Affordability", description: "Conference ticket prices don't always fit our budgets. SwiftTO is a price-conscious conference and is welcome to all experience levels."};
- var expectations = [expectation1, expectation2, expectation3, expectation4, expectation5, expectation6];
// Speakers
- var speaker1 = {name: "Paul Hudson", slug: "paul-hudson", twitter: "twostraws"};
- var speaker2 = {name: "Chris Ching", slug: "chris-ching", twitter: "CodeWithChris"};
- var speaker3 = {name: "Abbey Jackson", slug: "abbey-jackson", twitter: "earthabbey"};
- var speaker4 = {name: "Tim Mitra", slug: "tim-mitra", twitter: "timmitra"};
- var speaker5 = {name: "Veronica Ray", slug: "veronica-ray", twitter: "nerdonica"};
- var speaker6 = {name: "Marwan Alani", slug: "marwan-alani", twitter: "marwanalany"};
- var speaker7 = {name: "Frank Courville", slug: "frank-courville", twitter: "frankacy"};
- var speaker8 = {name: "Leo Dion", slug: "leo-dion", twitter: "leogdion"};
- var speaker9 = {name: "Lyle Resnick", slug: "lyle-resnick"};
- var speaker10 = {name: "Rohan Trivedi", slug: "rohan-trivedi"};
- var speaker11 = {name: "Charles Joseph", slug: "charles-joseph", twitter: "lessthanuthink"};
- var speakers = [speaker1, speaker2, speaker3, speaker4, speaker5, speaker6, speaker7, speaker8, speaker9, speaker10, speaker11];

doctype html
html(lang="en")
  head
    title=title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway", rel="stylesheet")
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="fonts/ionicons/css/ionicons.min.css")
    link(rel="stylesheet", href="fonts/fontawesome/css/font-awesome.min.css")
    // Twitter card
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@" + twitter1)
    meta(name="twitter:title", content=title)
    meta(name="twitter:description", content=description)
    meta(name='twitter:image', content='https://swiftconf.to/images/SwiftTO-Logo.png')
    //Open Graph
    meta(property="og:title", content=title)
    meta(property="og:image", content="https://swiftconf.to/images/SwiftTO-Logo.png")
    meta(property="og:description", content=description)
    meta(property="og:url", content="https://swiftconf.to")


    // Theme Style
    link(rel="stylesheet", href="css/style.css")

  body
    header(role="banner")
      nav#nav-app.navbar.navbar-expand-md.navbar-dark.bg-light
        .container
          a.navbar-brand(href='index.html')=title
          a.navbar-brand.small(href='index.html')=title
          button.navbar-toggler(type='button')
            span.navbar-toggler-icon
          div.navbar-collapse.navbar-light.collapse
            ul.navbar-nav.ml-auto.pl-lg-5.pl-0
              li.nav-item
                a.nav-link(href='/#tickets') Tickets
              li.nav-item
                a.nav-link(href='/speakers.html') Speakers 
              li.nav-item
                a.nav-link(href='/#schedule') Schedule 
              li.nav-item
                a.nav-link(href='/diversity-and-inclusion.html') Diversity &amp; Inclusion

    div#app
      block content

    footer.site-footer
      .container
        .row.mb-5
          .col-md-4.mb-2
            h3.mb-4 About
            p.mb-4
              | #{description}
          .col-md-4.mb-2
            h3.mb-4 Links
            ul.list-unstyled
              li
                a(href='/') Home
              li
                a(href='/#tickets') Tickets
              li
                a(href='/speakers.html') Speakers
              li
                a(href='/diversity-and-inclusion.html') Diversity &amp; Inclusion
              li
                a(target='_blank', href=rfpUrl) Submit a talk proposal
          .col-md-4.mb-2
            h3.mb-4 Contact
            p
              a(target='_blank', href='https://twitter.com/' + twitter1)
                span.fa.fa-twitter
                | &nbsp;
                span=twitter1
            p
              a(target='_blank', href='https://twitter.com/' + twitter2)
                span.fa.fa-twitter
                | &nbsp;
                span=twitter2
            p
              a(target='_blank', href='mailto:' + email)
                span=email
            p
              span Organized by #{companyName}

    script(src='js/main.js')