extends ./layout.pug

block content
  section.site-hero.small.overlay
    div.background-color-overlay
      div.container
        div.row.align-items-center.site-hero-inner.justify-content-center
          div.col-md-8.text-center
            div.mb-1.mb-md-5
              h1.mb-3
                img.swift-logo(src="./images/swift-icon-white.png")
                span=title
              div.header-info
                span.mb-4.conference-description=description
                span.mb-3.conference-date=date

  section.mb-5#speakers
    div.container
      h3.text.mt-5.mb-5 Speakers
      each speaker in speakers
        div.row.profiles-section.mt-5.mb-5
          div.col-md-3.mb-5
            img.mb-3(src="./images/" + speaker.slug + ".jpg")
          .col-md-7.mb-5.details
            h5=speaker.name
            - if (typeof(speaker.twitter) !== 'undefined'){
              a(target="_blank", href="https://twitter.com/" + speaker.twitter)
                span.fa.fa-twitter
                | &nbsp;
                span=speaker.twitter
            - }
            p
              case speaker.slug
                when 'veronica-ray'
                  include speakers/veronica-ray.txt
                when 'tim-mitra'
                  include speakers/tim-mitra.txt
                when 'paul-hudson'
                  include speakers/paul-hudson.txt
                when 'abbey-jackson'
                  include speakers/abbey-jackson.txt
                when 'chris-ching'
                  include speakers/chris-ching.txt
                when 'marwan-alani'
                  include speakers/marwan-alani.txt
                when 'leo-dion'
                  include speakers/leo-dion.txt
                when 'frank-courville'
                  include speakers/frank-courville.txt
                when 'lyle-resnick'
                  include speakers/lyle-resnick.txt
                when 'charles-joseph'
                  include speakers/charles-joseph.txt
                when 'rohan-trivedi'
                  include speakers/rohan-trivedi.txt
  hr